<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADMIN</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8989f62e84.js" crossorigin="anonymous"></script>
   <style>
        * {
  box-sizing: border-box;
}
.product-list .product {
  width: 100%;
  min-width: 320px;
}
.product-list .product-image {
  float: left;
  margin-right: 20px;
}
.product {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ddd;
}
.product:hover {
  border: 1px solid #aaa;
  cursor: pointer;
}
    </style>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Makita Boutique</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor03">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
                            <% if(!user){%>
                            <a class="nav-link" href="/login">Login</a>
                          </li>
                          <%};%><% if(user){ %>
                            <li class="nav-item">
                              <a class="nav-link" href="/accueil">Accueil</a>
                            </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/boutique">Boutique</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/compte">Mon Compte</a>
                          </li>
                          <% if (user.admin === true) { %>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  ADMIN MENU
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="/admin/add/product">Ajouter produit</a>
                                  <a class="dropdown-item" href="/admin/gest/product">Gestion produits</a>
                                  <a class="dropdown-item" href="#">Ajouter catégorie</a>
                                  <a class="dropdown-item" href="/admin/gest/user">Gestion utilisateurs</a>
                                </div>
                            </li>
                            <% }; %>                    
                          <li class="nav-item">
                            <a class="nav-link" href="/logout">Déconnexion</a>
                          </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                              Bonjour <%= user.login %> !
                        </form>
                        <% };%>
                      </div>
              </nav>
    <!--ADD ARTICLE-->
    <form action="/admin/add/product" method="POST">
        <legend style="text-align: center;">Ajouter produit</legend>
            <% if(messageadd == "Erreur lors de l'ajout du produit"){%>
                <h3 style="color: red; text-align:center;"><%= messageadd %> <i class='fas fa-exclamation-triangle'></i></h3>
                <% }; %>
            <% if(messageadd == "Produit ajouté avec succès"){%>
                <h3 style="color: green; text-align:center;"><%= messageadd %> <i class="far fa-check-circle"></i></h3>
                <% }; %>
        <div class="form-group row">
            <div class="col-sm-10">
                <div class="form-group form-log"><br><br>
                    Titre : <input type="text" placeholder="titre de l'article" name="titre" required><br><br>
                    Description : <input type="text" placeholder="Description" name="description" required><br><br>
                    Prix : <input type="number" placeholder="Prix" name="prix" required><br><br>
                    <label for="exampleFormControlSelect1">Catégorie</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="categorie" required>
                      <%if (results){%>
                        <% results.forEach(function(result){ %>
                      <option value="<%= result.categorie %>" ><%= result.categorie %></option>
                      <%  }); %>
                      <%};%>
                    </select>

                    <button class="btn btn-primary" type="submit">Envoyer</button><br><br>
                </div>
            </div>
        </div>
    </form>

</body>
</html>